[submodule "whattheduck-ionic"]
path = apps/whattheduck-ionic
url = ../whattheduck-ionic.git
branch=master
[submodule "duck-estimator"]
path = apps/duck-estimator
url = ../duck-estimator.git
branch=master
[submodule "duckguessr-old"]
path = apps/duckguessr-old
url = ../duckguessr.git
branch = master
[submodule "duckguessr"]
path = apps/duckguessr
url = ../duckguessr.git
branch=nuxt3-to-vite-vue3
[submodule "duckguessr-ml"]
branch=ts
path = packages/duckguessr-ml
url = ../duckguessr-ml.git
