[submodule "duckguessr-old"]
	path = apps/duckguessr-old
	url = git@github.com:bperel/duckguessr.git
	branch=master
[submodule "duckguessr"]
	path = apps/duckguessr
	url = git@github.com:bperel/duckguessr.git
	branch=nuxt3-to-vite-vue3
[submodule "duckguessr-ml"]
	branch=ts
	path = packages/duckguessr-ml
	url = git@github.com:bperel/duckguessr-ml.git
