.DS_Store
.eslintcache
.idea/
.vite-ssg-dist
.vite-ssg-temp
.vscode
*.local
local.properties
*.log
**/.eslintcache
**/.turbo/
**/auto-imports.d.ts
**/components.d.ts
/edges/
/vendor/
bundle.mjs
dist
dist-ssr
node_modules
packages/api/pastec-*.dat
