*.local
*.log
**/auto-imports.d.ts
**/components.d.ts
.DS_Store
.eslintcache
.idea/
.vite-ssg-dist
.vite-ssg-temp
.vscode
/edges/
/vendor/
dist
dist-ssr
node_modules
**/.eslintcache
packages/api-routes/index.ts
