version: '3.8'
services:
  kumiko:
    restart: always
    ports:
      - "8005:8080"
    build:
      context: kumiko
      dockerfile: Dockerfile
  paddleocr:
    restart: always
    ports:
      - "8006:8081"
    volumes:
      - /root/.paddleocr
    build:
      context: paddleocr
      dockerfile: Dockerfile
