edgecreator-api.ducksmanager.net {
    reverse_proxy edgecreator-api:3001
}

edgecreator-api-websocket.ducksmanager.net {
    reverse_proxy edgecreator-api-websocket:3001 {
        header_up Host {http.request.host}
    }
}
