name: dumili-api
services:
  kumiko:
    container_name: kumiko
    image: ghcr.io/bperel/kumiko
    restart: always
    networks:
      - dumili-network

  paddleocr:
    container_name: paddleocr
    image: ghcr.io/bperel/paddleocr
    restart: always
    volumes:
      - /root/.paddleocr
    networks:
      - dumili-network

  dumili-api:
    container_name: dumili-api
    image: ghcr.io/bperel/dumili-api
    restart: always
    networks:
      - public-network
      - dumili-network
      - dm-api-network
  db:
    container_name: dumili-db
    restart: always
    image: mariadb:11.7
    ports:
      - "64097:3306"
    volumes:
      - /var/lib/mysql
    networks:
      - dumili-network
    environment:
      MYSQL_DATABASE: dumili
      MARIADB_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD

networks:
  dumili-network:
  dm-api-network:
    external: true
  public-network:
    external: true
