@import 'variables.scss';

ion-radio {
  background: initial !important;
}

.dm-condition-background {
  @each $condition, $conditionColor in $dmConditions {
    &.#{$condition} {
      &,
      &::part(mark) {
        background-color: var(--dm-condition-#{$condition});

        @if $condition == 'missing' {
          background-image: linear-gradient(
            45deg,
            red 0%,
            transparent 0%,
            transparent 48%,
            red 48%,
            red 52%,
            transparent 52%,
            transparent 100%
          );
          background-size: 50px 50px;
        }
      }
    }
  }
}

ion-item {
  .dm-condition-background.owns-next {
    &::after {
      content: 'I';
      opacity: 0.5;
      margin-left: 5px;
      bottom: 0;
      position: absolute;
    }
  }

  + ion-item {
    // TODO
  }
}
