services:
  api:
    container_name: ducksmanager-api
    image: ghcr.io/bperel/ducksmanager-api
    restart: always
    networks:
      - public-network
      - dm2-network
      - dm-server_db-network
      - dm-server_cover-id-network

  api-websocket:
    container_name: ducksmanager-api-websocket
    image: ghcr.io/bperel/ducksmanager-api:websocket
    restart: always
    networks:
      - public-network
      - dm2-network
      - dm-server_db-network
      - dm-server_cover-id-network

  sprite-names-updater:
    container_name: sprite-names-updater
    image: mariadb:11.4
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    command: mariadb -uroot -p${MYSQL_ROOT_PASSWORD} -h db dm -e "CALL generate_sprite_names"
    networks:
      - dm-server_db-network
      - ducksmanager_dm-network

networks:
  dm2-network:
  public-network:
    external: true
  ducksmanager_dm-network:
    external: true
  dm-server_db-network:
    external: true
  dm-server_cover-id-network:
    external: true
