:root {
  --bs-body-font-family: verdana, arial, sans-serif !important;
  --bs-body-line-height: 15px !important;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 11px;
  font-family: var(--bs-body-font-family);
  line-height: var(--bs-body-line-height);
}

a {
  color: darkgrey !important;
  text-decoration: none !important;
  border-bottom: 1px solid darkgray;

  &[href='#'] {
    border-bottom: none !important;
  }

  &:hover, &:focus, &:active {
    color: darkgrey;
    text-decoration: none;
    outline: 0;
    border-bottom: 2px solid darkgray;
  }

  &.nav-link.active {
    color: black !important;
  }

  &.btn {
    color: white !important;

    &.disabled {
      cursor: not-allowed !important;
    }
  }
}

.dropdown ul li a {
  color: black !important;
}

.alert {
  a {
    color: initial;
  }
}

input.form-control {
  margin: 4px 0;
}

@media (min-width: 767px) {
  .mobile-only {
    display: none;
  }

  body {
    padding: 0 0 0 320px;

    &.no-padding {
      padding: 0;
    }
  }
}

.popper {
  z-index: 999 !important;
  font-size: 1rem;
  --popper-theme-text-color: black;

  #arrow {
    --popper-theme-background-color: white;
  }

  .btn {
    color: #444 !important;
  }
}
