html, body {
    margin:0;
    height:100%;
    font:11px verdana,arial,sans-serif;
    line-height:15px;

}

@media (min-width: 767px) {
    .mobile-only {
        display: none;
    }

    body {
        padding: 0 0 0 310px !important;
    }
}
