html, body {
  margin: 0;
  height: 100%;
  font: 11px verdana, arial, sans-serif;
  line-height: 15px;
}

a {
  color: darkgrey !important;
  text-decoration: none;
  border-bottom: 1px solid darkgray;

  &[href='#'] {
    border-bottom: none !important;
  }

  &:hover, &:focus {
    color: darkgrey;
    text-decoration: none;
    outline: 0;
    border-bottom: 2px solid darkgray;
  }
}

.alert {
  a {
    color: initial;
  }
}

input.form-control {
  margin: 4px 0;
}

@media (min-width: 767px) {
  .mobile-only {
    display: none;
  }

  body {
    padding: 0 0 0 320px;

    &.no-padding {
      padding: 0;
    }
  }
}

$navbar-height: 40px;
