services:
  coa-updater:
    init: true
    image: ghcr.io/bperel/coa-updater
    env_file:
      - ../../packages/api/.env.prod.local
    environment:
      MYSQL_HOST: db
      MYSQL_DATABASE: coa
      MYSQL_DATABASE_NEW: coa_new
    networks:
      - dm-server_db-network
      - ducksmanager_dm-network
networks:
  ducksmanager_dm-network:
    external: true
  dm-server_db-network:
    external: true