*
!/api
!/assets
!/components
!/composables
!/layouts
!/locales
!/middleware
!/pages
!/plugins
!/prisma
!/server
!/static
!/store
!/types
!/.babelrc
!/.env*
!/jsconfig.json
!/nuxt.config.js
!/package*.json
!/tsconfig.json
