**/node_modules/
/.idea/
.nuxt
.turbo
/server/datasets/*
storybook-static
sessions

!.gitkeep
/dist/
.output

/*.d.ts
!env.d.ts
api/prisma/client_*

*storybook.log

# Sentry Config File
.env.sentry-build-plugin
