version: '2'
services:
  web:
    container_name: duckguessr
    build: .
    restart: always
    volumes:
      - ./server/datasets:/usr/src/nuxt-app/server/datasets
    networks:
      dm-server_front-network:
        aliases:
          - duckguessr
      workspace_global-front-network:
        aliases:
          - duckguessr
  db:
    restart: always
    image: mariadb:10.5
    ports:
      - "33061:3306"
    volumes:
      - db:/var/lib/mysql
      - ./prisma/ddl.sql:/docker-entrypoint-initdb.d/ddl.sql:ro
    environment:
      MYSQL_DATABASE: duckguessr
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD

networks:
  workspace_global-front-network:
    external: true
  dm-server_front-network:
    external: true
