version: '3.4'
services:
  web:
    container_name: duckguessr
    build:
      context: .
      target: runtime-nuxt
    restart: always
    networks:
      workspace_global-front-network:
        aliases:
          - duckguessr
      duckguessr-network:
      dm-server_db-network:
  socketio:
    container_name: duckguessr-socketio
    build:
      context: .
      target: runtime-socketio
    restart: always
    volumes:
      - ./server/datasets:/usr/src/nuxt-app/server/datasets
    networks:
      workspace_global-front-network:
        aliases:
          - duckguessr-socketio
      duckguessr-network:
        aliases:
          - duckguessr-socketio
      dm-server_db-network:
  db:
    restart: always
    image: mariadb:10.5
    ports:
      - "33061:3306"
    volumes:
      - db:/var/lib/mysql
      - ./prisma/ddl.sql:/docker-entrypoint-initdb.d/ddl.sql:ro
    environment:
      MYSQL_DATABASE: duckguessr
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
    networks:
      duckguessr-network:
        aliases:
          - db

networks:
  workspace_global-front-network:
    external: true
  duckguessr-network:
  dm-server_db-network:
    external: true

volumes:
  db:
