.card-header-tabs .nav-link.active {
  --bs-card-bg: #007bff;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body,
#__layout,
#wrapper {
  height: 100vh;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;

  &:before {
    box-sizing: border-box;
    margin: 0;
  }

  &:after {
    box-sizing: border-box;
    margin: 0;
  }
}

pre {
  overflow: hidden;
  margin: 0;
  line-height: normal;
}

[variant="primary"] {
  color: #3b8070 !important;
}

[variant="secondary"] {
  color: #6c757d !important;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;

  &:hover {
    color: #fff;
    background-color: #3b8070;
  }
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;

  &:hover {
    color: #fff;
    background-color: #35495e;
  }
}

.form-control {
  width: 100%;
}

.mt-n4, .my-n4 {
  margin-top: -1.5rem !important;
}

.btn {
  svg {
    width: 1em;
    height: 1em;
  }
}

@keyframes glow-filter {
  0% {
    outline-color: rgb(255, 255, 255);
  }
  25% {
    outline-color: rgb(128, 128, 128);
  }
  50% {
    outline-color: rgb(0, 0, 0);
  }
  75% {
    outline-color: rgb(128, 128, 128);
  }
  100% {
    outline-color: rgb(255, 255, 255);
  }
}
