services:
  edges:
    image: "nginx"
    container_name: edges
    restart: always
    ports:
      - 8080:80
    volumes:
      - "./edges:/usr/share/nginx/html/edges"
      - "./nginx.conf:/etc/nginx/conf.d/default.conf"
      - ./template-variables.conf:/etc/nginx/templates/10-variables.conf.template:ro
    
    environment:
      EDGECREATOR_URL: "http://host.docker.internal:3001"