services:
  edges:
    image: nginx
    container_name: edges
    restart: always
    env_file:
      - .env
    ports:
      - 8080:80
    working_dir: /usr/share/nginx/html
    volumes:
      - "./edges:/usr/share/nginx/html/edges"
      - "./nginx-site.conf:/etc/nginx/sites-enabled/default.conf"
      - "./template-variables.conf:/etc/nginx/templates/10-variables.conf.template"
