name: deploy

on:
  workflow_dispatch:
  push:
    branches:
      - "legacy"
jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    env:
      REMOTE_ROOT: workspace/DucksManager2
      PRODUCTION_SSH_HOST: ${{ secrets.PRODUCTION_SSH_HOST }}
      PRODUCTION_SSH_USER: ${{ secrets.PRODUCTION_SSH_USER }}
      PRODUCTION_SSH_KEY: ${{ secrets.PRODUCTION_SSH_KEY }}
    name: deploy
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: bperel
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN_DM }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.8.0

      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "pnpm"

      - uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: |
          pnpm -r i

      - name: Retrieve pre-build files
        run: |
          pnpm i -g turbo
          turbo -F '~web...' -F '~api...' prod:transfer-files-pre

      - name: Build apps
        run: |
          turbo -F '~web...' -F '~api...' build
          ls -la packages/prisma-clients/client_dm

      - uses: docker/setup-buildx-action@v3

      - name: Build and push Docker images
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          turbo -F '~web...' -F '~api...' prod:build-docker

      - name: Send post-build files
        run: |
          turbo -F '~web...' -F '~api...' prod:transfer-files-post

      - name: Deploy
        run: |
          turbo -F '~web...' -F '~api...' prod:deploy
