name: deploy

on:
  workflow_dispatch:
  push:
    branches:
      - "legacy"
jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    env:
      REMOTE_ROOT: workspace/DucksManager2
      PRODUCTION_SSH_HOST: ${{ secrets.PRODUCTION_SSH_HOST }}
      PRODUCTION_SSH_USER: ${{ secrets.PRODUCTION_SSH_USER }}
      PRODUCTION_SSH_KEY: ${{ secrets.PRODUCTION_SSH_KEY }}
      GH_TOKEN: ${{ github.token }}
    name: deploy
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: bperel
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN_DM }}

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4
        with:
          main-branch-name: legacy
        #   fallback-sha: "ffffff"

      - run: |
          echo "HEAD: ${{ env.NX_HEAD }}"
          echo "BASE: ${{ env.NX_BASE }}"

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.8.0

      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "pnpm"

      - uses: oven-sh/setup-bun@v1

      - name: Check apps changed since the last successful commit
        run: |
          if [ "${{ env.NX_BASE }}" == "ffffff" ]; then
            lastSuccessfulCommit=${{ env.NX_HEAD }}
          else
            lastSuccessfulCommit=${{ env.NX_BASE }}
          fi
          echo "lastSuccessfulCommit=$lastSuccessfulCommit" >> "$GITHUB_ENV"
          echo "Changed apps:"
          pnpm -r -F "...[$lastSuccessfulCommit]" ls --depth -1

      - name: Install dependencies
        run: |
          pnpm -r i

      - name: Retrieve pre-build files
        run: |
          pnpm i -g turbo
          turbo prod:transfer-files-pre

      - uses: docker/setup-buildx-action@v3

      - name: Build apps
        run: |
          turbo -F "...[$lastSuccessfulCommit]" -F '!~ci' prod:build-docker

      - name: Send post-build files
        run: |
          turbo -F "...[$lastSuccessfulCommit]"  -F '!~ci' prod:transfer-files-post

      - name: Deploy
        run: |
          turbo --concurrency=1 -F "...[$lastSuccessfulCommit]" -F '!~ci' prod:deploy
