version: '2'
services:
  web:
    container_name: edgecreator-v3
    image: ghcr.io/bperel/edgecreator
    volumes:
      - '../edges:/home/edges'
    ports:
      - 3000:3000
    networks:
      dm-server_front-network:
        aliases:
          - edgecreator-v3
      public-network:
        aliases:
          - edgecreator-v3

networks:
  public-network:
    external: true
  dm-server_front-network:
    external: true
